@model IEnumerable<HotelManagementProject.Models.Reservation>

@{
    ViewData["Title"] = "Reservation List";
}

<h2 class="text-center">@ViewData["Title"]</h2>

<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Guest Email</th>
                <th>Room Number</th>
                <th>Payment Method</th>
                <th>Check-In Date</th>
                <th>Check-Out Date</th>
                <th>Total Amount</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.GuestEmail</td>
                    <td>@item.RoomNumber</td>
                    <td>@item.PaymentMethod</td>
                    <td>@item.CheckInDate.ToShortDateString()</td>
                    <td>@item.CheckOutDate.ToShortDateString()</td>
                    <td>@item.TotalAmount.ToString("C")</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger ml-2">Delete</a>
                        <a class="btn btn-secondary btn-block" asp-controller="Room" asp-action="Index">Deactivate Room_Number @item.RoomNumber</a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="text-center mt-3">
    <a asp-action="Create" class="btn btn-primary">Create New Reservation</a>
    

</div>
